@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1 {
  font-size: min(5vmin, calc(2rem + 1.2vmax));
} */
/* h3 {
  font-size: min(6.5vmin, calc(2rem + 1vmax));
} */
/* p {
  font-size: min(3vmin, calc(1rem + 0.20vmax));
} */
/* div {
  margin: min(10vmin, 30px);
} */

#__next {
  @apply h-full
}
html{
  @apply h-full
}